.Login{
    width: 100%;
    color: var(--black);
    background: rgb(253, 252, 252);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .glass{
        height: 90vh;
      width: 97%;
      border-radius: 2rem;
      background: rgba(255, 255, 255, 0.34);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      //backdrop-filter: blur(5.9px);
      -webkit-backdrop-filter: blur(5.9px);
      overflow: hidden;
      grid-template-columns: 14rem auto 25rem;
      gap: 10px;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: center;

      .loginContainer {
        width: 30%;
        height: 500px;
        background-image: linear-gradient(to right top, #3f28e7, #412ce2, #442fde, #4632d9, #4835d4);
        border-radius: 15px;
        padding: 1rem;

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                color: aquamarine;
                font-size: 5rem;
            }
            h4 {
                font-size: 3rem;
            }
        }

        .form {
            margin-top: 3rem;
           
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h4 {
                font-size: 2rem;
            }

            .loginBtn {
                margin-top: 30px;
                width: 150px;
                height: 50px;
                border-radius: 15px;
                background-color: aquamarine;
                border: none;
                color:#4835d4;
                cursor: pointer;
            }
        }
      }
    }
}