.ChartArea {
    padding: 1rem;
    height: 400px;
    width: 100%;
    
    margin-top: 3rem;
    border-radius: 15px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    display: flex;
    flex-direction: column;

    .charts {
       
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .chartContainer {
        width: 500px;
        height: 330px;
        
    }
    
    h3{
        font-weight: 400;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1280px){
    .ChartArea {
        width: 95%!important;
    }
  }

